
CursoConsultasAvancadasSQL_SERVER_Alura/DadosFornecidosPeloCurso/Arquivos/Cria_Banco.sql
CursoConsultasAvancadasSQL_SERVER_Alura/DadosFornecidosPeloCurso/Arquivos/Carga_Notas.sql
CursoConsultasAvancadasSQL_SERVER_Alura/DadosFornecidosPeloCurso/Arquivos/Carga_Itens_Notas.sql
CursoConsultasAvancadasSQL_SERVER_Alura/DadosFornecidosPeloCurso/Arquivos/Carga_Cadastros.sql
